.snailgame {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url("Designer.jpeg");
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin: 20px;
}

#gameCanvas {
    border: 1px solid #000;
    background-color: #cae442;
}

#score {
    font-size: 20px;
    margin-top: 10px;
}